/* Coolors Exported Palette - coolors.co/40b5f2-303036-fffaff-163f6d-071823 */

/* HSL */
$color1: hsla(201%, 87%, 60%, 1);
$color2: hsla(240%, 6%, 20%, 1);
$color3: hsla(300%, 100%, 99%, 1);
$color4: hsla(212%, 66%, 26%, 1);
$color5: hsla(204%, 67%, 8%, 1);

/* RGB */
$color1: rgba(64, 181, 242, 1);
$color2: rgba(48, 48, 54, 1);
$color3: rgba(255, 250, 255, 1);
$color4: rgba(22, 63, 109, 1);
$color5: rgba(7, 24, 35, 1);