// FONT
$font-sans-serif: 'Maven Pro', sans-serif; 
$size-1: 18px;
$size-2: $size-1 * 0.9;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

// COLORS
$light-gray: #f9f9f9;
$gray: #e6e6e6;
$primary-text-color: #212121;
$secondary-text-color: #606060;